@font-face
{
    font-family: pismo;
    src: url(fonts/megrim.ttf);
}

@font-face
{
    font-family: pismo1;
    src: url(fonts/eurof35.ttf);
}


#wrapper {width: 100%; margin: 0; padding: 0; position:relative;}
body {background: #fff; font-family: pismo;}
section {width: 80%; text-align: left; padding: 40px; z-index: 100;}
section h2,h3 {color: #ff108a; text-align: left;}
p {font-family: pismo1; font-size: 25px; }
.homepage {text-decoration: none; color: #000; display: block; padding-left: 40px; height: 200px; width: 750px; position: relative; margin: 0 auto;}


.cenik {background-color: #ff108a; color: black;}
.cenik a:visited {color: black;}
.cenik a {text-decoration: none; color: black;}
.logo {width: 300px; position: absolute; top: 20px; left: 20px;}
h1 {font-family: pismo; color: #000; font-size: 50px; text-transform: uppercase; text-align: center; margin-bottom: 0px;}
h2 {font-family: pismo; color: #000; text-align: center; }


nav ul {margin-top: 10px;}
nav ul li {font-family: pismo; color: #000; font-size: 30px; text-transform: uppercase; list-style: none; display: inline-block; padding-left: 40px;}
nav ul li a {text-decoration: none; color: #000; -webkit-transition: 0.2s ease; transition: 0.2s ease;}
nav ul li a:hover {-webkit-transition: 0.2s ease; transition: 0.2s ease; border-bottom: 5px solid #ff108a; width: 20px;}
.fb {max-width: 50px;}
hr {margin: 0px 25px 0px 25px;}

.vizitka {display: inline-block; margin-right: 50px; font-size: 25px;}
.vizitka span {display: block;}



.nabizime {font-family: pismo1; font-size: 25px; color: #000;}
.poukaz {width: 100%;}
.cornerimage { position: fixed; bottom: 0px; right: 0px; max-width:20%; z-index: -100;}

.name {color: #ff108a;}
.hairimage { max-width: 40%; max-height: 300px; position: fixed; bottom: 0px; right: 0px;}


.cosmeticimage {max-width: 50%; max-height: 300px; position: fixed; bottom: 0px; right: 0px;}
.pedicureimage {max-width: 30%; max-height: 300px; position: fixed; bottom: 0px; right: 30px;}
.phones {max-width: 30%; max-height: 300px; position: fixed; bottom: 0px; right: 0px;}
.manicureimage {  max-height: 300px; position: fixed; bottom: 0px; right: 30px;}
.spaimage {max-width: 40%;max-height: 300px; position: fixed; bottom: 0px; right: 0px;}

.gallery {max-width:640px; text-align:center;}
.gallery img {margin: 0 auto;}
